<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <title>Привет</title>
</head>
<body>
<div th:fragment="header">
  <a href="/">На главную</a>
  <div sec:authorize = "isAuthenticated()">
    <a href="/logout">Выйти</a>
    <p>
      Добро пожаловать
      <b sec:authentication="principal.username"></b>
      с ролью
      <b sec:authentication="principal.authorities"></b>
    </p>
    <div sec:authorize = "hasRole('ROLE_ADMIN')">
      <a href="/admin">В админку</a>
    </div>
    <div sec:authorize = "hasRole('ROLE_USER')">
      <a href="/user">Профиль</a>
    </div>
  </div>
  <div sec:authorize = "isAnonymous()">
    <a href="/login">Войти</a>
  </div>
</div>
</body>
</html>