<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title></title>
</head>
<body>
<div th:fragment="header">
    <nav class="navbar fixed-top navbar-dark bg-dark">
        <div class="d-flex mb-2 w-100" sec:authorize="isAuthenticated()">
            <div class="navbar-brand">
                <b sec:authentication="principal.username"></b>
                роль:
                <th:block th:each="role, roles:${#authentication.getAuthorities()}">
                    <span th:text="${role}"></span>
                </th:block>
            </div>
            <div class="navbar-nav ml-auto">
                <a class="nav-link" href="/logout">Выйти</a>
            </div>
        </div>
        <div class="navbar-nav" sec:authorize="isAnonymous()">
            <a class="nav-link" href="/login">Войти</a>
        </div>
    </nav>
    <br>
    <br>
    <br>
</div>
</body>
</html>