<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Админка</title>
</head>
<body>
<div th:replace="fragments/header :: header">
</div>
<h1>Пользователи:</h1>
<table th:border="2">
    <thead style="background: grey">
    <tr>
        <th>Id</th>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Возраст</th>
        <th>Email</th>
        <th>Роль</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tr th:each="user : ${users}">
        <th th:text="${user.getId()}"></th>
        <th th:text="${user.getFirstName()}"></th>
        <th th:text="${user.getLastName()}"></th>
        <th th:text="${user.getAge()}"></th>
        <th th:text="${user.getEmail()}"></th>
        <th th:text="${#strings.substring(user.getAuthorities(), 1, #strings.length(user.getAuthorities())-1)}"></th>
        <th>
            <form th:method="GET" th:action="@{/admin/{id}/update(id=${user.getId()})}">
                <input type="submit" value="Изменить">
            </form>
        </th>
        <th>
            <form th:method="DELETE" th:action="@{/admin/{id}/delete(id=${user.getId()})}">
                <input type="submit" value="Удалить" style="color: red">
            </form>
        </th>
    </tr>
</table>
<hr/>
<form th:method="GET" th:action="@{/admin/new}">
    <input type="submit" value="Создать нового пользователя">
</form>
</body>
</html>