<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <title>Личный кабинет</title>
</head>
<body>
<div th:replace="fragments/header :: header">
</div>
<h1>Пользователь</h1>
<table th:border="2">
    <thead style="background: grey">
    <tr>
        <th>Id</th>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Возраст</th>
        <th>Email</th>
        <th>Роль</th>
    </tr>
    </thead>
    <tr>
        <th th:text="${user.getId()}"></th>
        <th th:text="${user.getFirstName()}"></th>
        <th th:text="${user.getLastName()}"></th>
        <th th:text="${user.getAge()}"></th>
        <th th:text="${user.getEmail()}"></th>
        <th th:text="${#strings.substring(user.getAuthorities(), 1, #strings.length(user.getAuthorities())-1)}"></th>
    </tr>
</table>
</body>
</html>